<div class="error-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="error-text">
                    <h1 class="error">ای بابا</h1>
                    <div class="im-sheep">
                        <div class="top">
                            <div class="body"></div>
                            <div class="head">
                                <div class="im-eye one"></div>
                                <div class="im-eye two"></div>
                                <div class="im-ear one"></div>
                                <div class="im-ear two"></div>
                            </div>
                        </div>
                        <div class="im-legs">
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                            <div class="im-leg"></div>
                        </div>
                    </div>
                    <h4>خطای 404 خدمت شما</h4>
                    <p>با عرض پوزش، صفحه ایی که درخواست کردی رو پیدا نکردم، میتونی برگردی به صفحه اصلی</p>
                    <a href="/" class="btn btn-primary btn-round">منو برگردون خونه</a>
                </div>
            </div>
        </div>
    </div>
</div>