<div class="full-screen">
    <div class='container'>
      <span class="error-num">5</span>
      <div class='eye'></div>
      <div class='eye'></div>
      <h2 class="sub-text">ای بابا! یک مشکلی رخ داده. بزار  <span class="italic"> ببینم </span> چیشده!؟ </h2>
      <p>با عرض پوزش از سمت سرور خطایی رخ داده است لطفا بعدا دوباره تلاش کنید || <b>Error 500</b></p>
      <a href="/">فعلا منو ببر خونه</a>
    </div>
  </div>